<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/layout :: layout(pageTitle=#{admin.sessions.title}, currentPage='sessoes', content=~{:: .main-content})}">

    <div class="main-content">
        <header class="header">
            <h1 th:text="#{admin.sessions.title}">Gerenciamento de Todas as Sessões</h1>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn" th:text="#{user.button.logout}">Logout</button>
            </form>
        </header>

        <div th:if="${mensagemSucesso}" class="mensagem mensagem-sucesso" th:text="${mensagemSucesso}"></div>
        <div th:if="${mensagemErro}" class="mensagem mensagem-erro" th:text="${mensagemErro}"></div>

        <table th:if="${!listaSessoes.isEmpty()}">
            <thead>
            <tr>
                <th th:text="#{admin.table.id}">ID</th>
                <th th:text="#{admin.table.project}">Projeto</th>
                <th th:text="#{admin.table.tester}">Testador</th>
                <th th:text="#{tester.table.strategy}">Estratégia</th>
                <th th:text="#{tester.table.status}">Status</th>
                <th th:text="#{common.actions}">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sessao : ${listaSessoes}">
                <td th:text="${sessao.id}">1</td>
                <td th:text="${sessao.projeto.nome}">Nome do Projeto</td>
                <td th:text="${sessao.testador.nome}">Nome do Testador</td>
                <td th:text="${sessao.estrategia.nome}">Nome da Estratégia</td>
                <td>
                    <span th:text="${sessao.status}"
                          th:classappend="${sessao.status == 'CRIADO'} ? 'status-criado' : (${sessao.status == 'EM_EXECUCAO'} ? 'status-execucao' : 'status-finalizado')">
                    </span>
                </td>
                <td class="actions">
                    <a th:href="@{/admin/sessoes/{sessaoId}/bugs(sessaoId=${sessao.id})}" class="btn btn-primary" th:text="#{common.button.details}">Ver Detalhes</a>
                    <a th:href="@{/admin/sessoes/excluir/{id}(id=${sessao.id})}" class="btn btn-danger"
                       th:onclick="'return confirm(\'' + #{common.confirm_delete_session} + '\');'" th:text="#{common.button.delete}">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${listaSessoes.isEmpty()}" style="text-align: center; margin-top: 20px;">
            <p>Nenhuma sessão de teste foi criada no sistema ainda.</p>
        </div>
    </div>
</div>
</html>