<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estratégias de Teste</title>
    <link rel="stylesheet" th:href="@{/css/estiloPrincipal.css}">
</head>
<body>
<div class="main-content" style="margin: auto; max-width: 960px;">
    <header class="header">
        <h1>Estratégias de Teste de Jogos</h1>
        <div>
            <a th:href="@{/login}" class="btn btn-primary">Login</a>
        </div>
    </header>

    <div th:replace="~{fragments/lista-estrategias-fragmento :: listaEstrategias}">
    </div>
</div>
</body>
</html>