<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(pageTitle, currentPage, content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Painel do Testador</title>
    <link rel="stylesheet" th:href="@{/css/estiloPrincipal.css}">
</head>
<body>
<div class="main-wrapper">
    <header class="app-header">
        <a th:href="@{/testador/dashboard}" style="text-decoration: none;">
            <h1 class="app-title">Game Tester System</h1>
        </a>
        <div class="header-right-group">
            <div class="user-info-header">
                <div th:if="${usuarioLogado != null}" class="profile-picture-container">
                    <img th:src="${usuarioLogado.profilePictureUrl != null} ? @{${usuarioLogado.profilePictureUrl}} : @{/images/default-avatar.png}" alt="Foto de Perfil" class="profile-picture"/>
                </div>
                <div class="user-details">
                    <p><span th:text="#{user.info.logged_in_as}"></span>: <strong sec:authentication="name"></strong></p>
                    <p><span th:text="#{user.info.profile}"></span>: <span sec:authentication="authorities"></span></p>
                </div>
            </div>
            <div class="lang-switcher">
                <a th:href="@{?lang=pt_BR}" th:classappend="${#locale.language == 'pt'} ? 'active-lang' : ''">
                    <img th:src="@{/images/flags/br.png}" alt="Portugu\u00eas" style="width: 20px; vertical-align: middle; margin-right: 5px;"/>
                </a>
                <a th:href="@{?lang=en_US}" th:classappend="${#locale.language == 'en'} ? 'active-lang' : ''">
                    <img th:src="@{/images/flags/us.png}" alt="English" style="width: 20px; vertical-align: middle; margin-right: 5px;"/>
                </a>
            </div>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn" th:text="#{user.button.logout}">Logout</button>
            </form>
        </div>
    </header>

    <div th:replace="${content}" class="content-area">
    </div>

</div>
</body>
</html>